:root{
    --bgcolor: black;
    --mainfont: garamond, sans-serif;
    --text-color: white;
    --accent-color: rgb(43, 2, 44);
    --border-color: white;
    --link-static: rgb(136, 224, 250);
    --link-visited: rgb(153, 136, 250);
    --link-hover: rgb(240, 248, 255);


}

body{
    background-color: var(--bgcolor);
}

*{
    color: var(--text-color);
}

header {
    background-image: url("../images/Space Wow GIF by Feist.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 30vh;
    margin: 0;
    
}

.Gif-fade{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 0;
    margin: auto;
    justify-content: center;
    gap:15%;
    font-size:250%;
    font-family: var(--mainfont);
    background-color: var(--accent-color);
    margin-left: 20%;
    margin-right: 20%;
    min-width: 55%;
}



  a{
    text-decoration: none;
    color: var(--link-static);
  }


  a:visited{
    color: var(--link-visited);
  }

    a:hover{
    color: var(--link-hover);
  }
  
   a:hover .Gif-fade{
    opacity: 1;
  }

.header{
    text-align: center;
    color: var(--text-color);
    font-size: 300%;  
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: var(--mainfont);
    text-decoration: underline;
}

@media (max-width: 300px){
    .header{
        font-size: 135%;
    }
}

.sectionA{
    text-align: center;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.Card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    gap: 3%;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    border: solid var(--border-color) 8px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}



@media (max-width: 780px){
    .item-list{
        flex-direction: column;
    }
}

.Card-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: solid var(--border-color) 4px;
    height: auto;
    min-width: 0;
}

.Planets, .Squarians{
    text-align: center;
}

footer{
    display: block;
    height: 50px;
    background-color: var(--accent-color);
    font-family: var(--mainfont);
    text-align: center;
    padding-top: 10px;
}